<div id="matter-holder">
    <img id="celeb" [src]="celebImage" *ngIf="showImage" alt="celeb" />
    <!-- <div class="progress" id="progress-holder">
        <div id="analyse-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" ></div>
    </div> -->
    <div class="list-group results" *ngIf="showImage">
        <div href="#" class="list-group-item list-group-item-action" *ngFor="let celeb of celebs">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">{{celeb.name}}</h4>
            <a class="text-muted" href="">Imdb</a>
          </div>
          <a [href]="url" *ngFor="let url of celeb.infoUrls" target="_blank"><small class="text-muted">{{url}}</small></a>
          <small class="text-muted">confidence = {{celeb.confidence}}</small>
        </div>
    </div>
    <h3 *ngIf="!showImage" class="result-text">Results will appear here.</h3>
</div>

<!-- <input type="button" value="Push" (click)="startProgress()"> -->
