#matter-holder {
    margin: 3rem auto;
    text-align: center;
}


.results {
    margin: 2rem 3rem 0;
    text-align: left;
}

#celeb {
    height: 15rem;
}

.result-text {
  color:lightgrey;
  margin-top:12.5rem
}
